# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref=3.2.10=pypi_0
beautifulsoup4=4.9.3=pypi_0
ca-certificates=2021.10.26=haa95532_4
certifi=2021.10.8=py38haa95532_2
cffi=1.14.5=pypi_0
charset-normalizer=2.0.6=pypi_0
django=3.2.5=pyhd3eb1b0_0
django-bootstrap=0.2.4=pypi_0
django-bootstrap-v5=1.0.5=pypi_0
django-bootstrap4=3.0.1=pypi_0
django-braces=1.14.0=pypi_0
django-cors-headers=3.10.0=pypi_0
django-filter=21.1=pypi_0
djangorestframework=3.13.1=pypi_0
docopt=0.6.2=pypi_0
idna=3.2=pypi_0
importlib-metadata=4.10.1=pypi_0
krb5=1.19.2=h5b6d351_0
libpq=12.9=hb652d5d_1
markdown=3.3.6=pypi_0
misaka=2.1.1=pypi_0
mysqlclient=2.0.3=pypi_0
openssl=1.1.1m=h2bbff1b_0
pip=21.2.2=py38haa95532_0
pipreqs=0.4.10=pypi_0
psycopg2=2.8.6=py38hcd4344a_1
pycparser=2.20=pypi_0
python=3.8.12=h6244533_0
pytz=2021.3=pyhd3eb1b0_0
requests=2.26.0=pypi_0
setuptools=58.0.4=py38haa95532_0
six=1.16.0=pypi_0
soupsieve=2.2.1=pypi_0
sqlite=3.37.0=h2bbff1b_0
sqlparse=0.4.1=py_0
typing_extensions=3.10.0.2=pyh06a4308_0
urllib3=1.26.7=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py38haa95532_2
yarg=0.1.9=pypi_0
zipp=3.5.0=pypi_0
zlib=1.2.11=vc14h1cdd9ab_1
