{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_block %}
<div class="card-header"><h3>My Approvals</h3></div>
<div class="card-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Created</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Day(s)</th>
            <th scope="col">Approval</th>
        </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'leave:detail' pk=item.pk %}">{{ item.title }}</a></td>
                    <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                    <td>{{ item.creationDate|date:"N j, Y" }}</td>
                    <td>{{ item.startDate|date:"N j, Y" }}</td>
                    <td>{{ item.endDate|date:"N j, Y" }}</td>
                    <td>{{ item.dayCount }}</td>
                    <td>
                        <a href="{% url 'leave:leave_approve' pk=item.pk %}" class="btn btn-primary">Approve</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ object_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}">next</a>
                <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock body_block %}