{% extends "base.html" %}

{% block body_block %}
<div class="card-header"><h3>{{ object.title }}</h3></div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3">
                <strong>User:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.user.first_name }} {{ object.user.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <strong>Created:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.creationDate|date:"N j, Y" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <strong>Start:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.startDate|date:"N j, Y" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <strong>End:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.endDate|date:"N j, Y" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <strong>Day(s):</strong>
            </div>
            <div class="col-sm-9">
                {{ object.dayCount }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <strong>Comment:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.comment }}
            </div>
        </div>
        <br>
        <br>
        <input type="submit" value="Approve" class="btn btn-primary">
    </form>
</div>
{% endblock body_block %}