{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_block %}
<div class="card-header"><h3>Asset List</h3></div>
<div class="card-body">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Serial</th>
                <th scope="col">Purchased</th>
                <th scope="col">Warranty (in days)</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col">Assigned to</th>
            </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'asset:update' pk=item.pk %}">{{ item.name }}</a></td>
                        <td>{{ item.model }}</td>
                        <td>{{ item.serial }}</td>
                        <td>{{ item.purchaseDate|date:"N j, Y" }}</td>
                        <td>{{ item.warranty }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>{{ item.get_type_display }}</td>
                        <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock body_block %}