{% extends "base.html" %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_block %}
<div class="card-header"><h3>Login</h3></div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-primary">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock body_block %}
