{% extends "base.html" %}

{% block body_block %}
<div class="card-header"><h3>Update {{ form.name }} item</h3></div>
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="comment" class="form-label">Description</label>
            <textarea name="description" id="comment" cols="30" rows="10" class="form-control">{{ form.description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="unit" class="form-label">Unit</label>
            <input type="text" class="form-control" id="unit" name="unit" value="{{ form.unit }}">
        </div>
        <div class="mb-3">
            <label for="count" class="form-label">Amount</label>
            <input type="number" min="0" class="form-control" id="count" name="count" value="{{ form.count }}">
        </div>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
</div>
{% endblock body_block %}
