{% extends "base.html" %}

{% block body_block %}
<div class="card-header">
    <div class="row">
        <div class="col-md-10">
          <h3>Item List</h3>
        </div>
        <div class="col-md-2 float-right">
            <a href="{% url 'inventory:create' %}" class="btn btn-primary">Create Item</a>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Unit Name</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td><a href="{% url 'inventory:edit' pk=item.pk %}">{{ item.name }}</a></td>
                        <td onclick="onInventoryQuickUpdate('{{ item.pk }}')">
                            <input type="number" id="amount_{{ item.pk }}" value="{{ item.count }}" min="0" class="form-control">
                        </td>
                        <td>{{ item.unit }}</td>
                        <!-- we're generating href from javascript function 'onInventoryQuickUpdate' -->
                        <td>
                            <a id="update_{{ item.pk }}" id="" class="btn btn-primary" href="#">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock body_block %}