{% extends "base.html" %}

{% block body_block %}
<div class="card-header"><h3>{{ object.title }}</h3></div>
<div class="card-body">
    <p>{{ object.user.first_name }} {{ object.user.last_name }} requested for {{ object.amount }} {{ object.inventory.unit }}(s) of {{ object.inventory.name }}</p>
    <div class="row">
        <div class="col-sm-3">
            <strong>Status:</strong>
        </div>
        <div class="col-sm-9">
            {% if object.distributed %}
                <span class="text-success">Distributed</span>
            {%  elif object.approved %}
                <span class="text-warning">Approved</span>
            {% else %}
                <span class="text-danger">Waiting for the approval</span>
            {% endif %}
        </div>
    </div>
    {% if object.comment %}
        <div class="row">
            <div class="col-sm-3">
                <strong>Comment:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.comment }}
            </div>
        </div>
    {% endif %}
    {% if object.approver is not None %}
        <div class="row">
            <div class="col-sm-3">
                <strong>Approver:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.approver }}
            </div>
        </div>
    {% endif %}
    {% if object.distributor is not None %}
        <div class="row">
            <div class="col-sm-3">
                <strong>Distributor:</strong>
            </div>
            <div class="col-sm-9">
                {{ object.distributor }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock body_block %}