{% extends "base.html" %}

{% block body_block %}
<div class="card-header"><h3>Requests</h3></div>
<div class="card-body">
    <ul class="list-group">
        {% for item in object_list %}
            <li class="list-group-item">
                <span>{{ item.user.first_name }} {{ item.user.last_name }} requested for {{ item.amount }} {{ item.inventory.unit }}(s) of {{ item.inventory.name }}</span>
                <a href="{% url 'inventory:requisition_distributed' pk=item.pk %}" class="btn btn-primary" style="float: right;">Done</a>
            </li>
        {% empty %}
            <li>No request yet.</li>
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock body_block %}